.images{
    border-width: 5px;
    border-color: rgb(192, 180, 16);
    border-style: dashed;
    border-radius: 12px;
    height: 200px;
    width: 200px;
    /* padding: 10px; */
    margin: 20px;
    -webkit-transition: box-shadow .5s;
    -webkit-transition-delay: .1s;
    transition: box-shadow .4s;
    transition-delay: .1s;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.images:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 30px 0 rgba(0, 0, 0, 0.5);   
}